*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.inter-normal{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.blue-text {
    color: #4e47ff;
}

.black-text {
    color: #252432;
}

.company-title {
    font-weight: 800;
    font-size: 34px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    margin: 0 150px;
}

header{
    padding-bottom: 152px;
    background-image: url(Assets/Hero-bg.png);
}

.btn-primary{
    background-color: #4e47ff;
    color: white;
    padding: 12px 36px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.hero-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 158px;
}

.hero-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 905px;
    padding-bottom: 37px;
}

.action-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 116px;
    width: 1140px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-image{
    border-radius: 50px;
}

.action-title{
    font-weight: bold;
    font-size: 42px;
}

.action-description{
    font-size: 24px;
    max-width: 517px;
    margin: 23px 0;
}

.productive-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 20px;
    width: 1140px;
    padding-bottom: 50px;
    margin-top: 116px;
    margin-bottom: 137px;
    padding-top: 50px;
}

.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 856px;
    margin-top: 40px;
    
}

.info h4{
    margin: 0;
    font-weight: bold;
    font-size: 80px;
}

.info p{
    margin: 0;
    font-size: 20px;
}

.productive-user-title{
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 20px;
}

.user-reviews-title{
    font-weight: bold;
    font-size: 42px;
}

.user-reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin-top: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
    padding: 30px;
    width: 350px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.review{
    text-align: left;
}

.user{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.user-info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.user-info p{
    text-align: left;
}

.fa-star{
    color: #ffb805;
}

.stars{
    margin-bottom: 24px;
}

.card h4{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 8px;
}

.user-name{
    font-weight: bold;
    font-size: 16px;
}

.get-started{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 116px;
    margin-bottom: 116px;
    background-color: #f9f5f5;
    width: 1140px;
    border-radius: 20px;
}

.get-started-title{
    font-weight: bold;
    font-size: 50px;
    margin-top: 71px;
    margin-bottom: 20px;
}

.get-started-para{
    margin-bottom: 20px;
}

.get-started button{
    margin-bottom: 20px;
}

.get-started-image{
    border-radius: 50px;
    margin-bottom: 71px;
}

.get-in-touch{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 1140px;
    margin-bottom: 71px;
}

form{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.get-in-touch h2{
    font-weight: bold;
    font-size: 97px;
    margin-bottom: 20px;
    width: 900px;
}

.get-in-touch-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.get-in-touch-form input, .get-in-touch-form button, .get-in-touch-form textarea{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#message{
    height: 100px;
}

label{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #252432;
    margin-bottom: 10px;
}

::placeholder{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-align: left;
}

.footer-logo{
    font-size: 100px;
    font-weight: bold;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    width: 800px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 103px;
    background-color: #f9f5f5;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 800px;
    gap: 50px;
    margin-top: 20px;
}

.links a{
    text-decoration: none;
    color: #252432;
    font-size: 18px;
}
